table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

.w-90{
    width: 90%;
    margin: 0 auto;
}
.w-50{
  width: 50%;
  margin: 0 auto;
}

.mat-column-sistema {
  flex: none;
  width: 15%;
}

.mat-column-cDispositivos {
  flex: none;
  width: 15%;
}

.mat-column-validado {
  flex: none;
  width: 5%;
}

.mat-column-name {
  flex: none;
  width: 15%;
}

.mat-column-nroSerie {
  flex: none;
  width: 15%;
}

.mat-column-email {
  flex: none;
  width: 15%;
}

mat-spinner{
  margin: 0 auto;
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
}


.greenColor{
  color : green!important;
}

.redColor{
  color : red!important;
}

.blueColor{
  color : blue!important;
}
.buttonPrimary{
  background: #5ba5de;
    color: white;
    margin-bottom: 1%;
}
.displayFlex {
  display: flex;
}
.displayGrid {
  display: grid;
}
.cardStyle{
  width: 33%;
  margin-right: 5px;
  margin-left: 5px;

}
.marginTop1{
  margin-top: 1%;
}
.marginBottom5{
  margin-bottom:  5%;
}